<div class="row">
	<div class="col-md-8 col-md-offset-2 float-overlay">
            <h3>Team Members</h3>

            {% for teamMember in team %}
                        <img style="width:300;height:400px" src="{{ asset('img/' ~ teamMember.photo) }}" alt="">         
                        <h5 class="text-uppercase">{{ teamMember.name }}</h5>
                        <p class="m-0">{{ teamMember.designation }}</p>
            {% endfor %}
    </div>
</div> 
